
    .signOutBtn {
      /* position: absolute; */
      /* bottom: 0px; */
      top:590px;
      left: 0px;
      width: 400px;
      border-radius: 0px;
      /* background-Color: #227092; */
      height: 35px;
      box-Shadow: 0px 0px 2px black;
      /* color: white; */
      /* color:red; */
      /* font-size: 50px; */
      /* background-color: #227092; */
    }
  